name: CI

on:
  push:
  pull_request:

jobs:
  build:
    name: Build PHP/TYPO3
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - php-versions: '8.1'
            typo3-versions: '^12'
          - php-versions: '8.2'
            typo3-versions: '^12'
          - php-versions: '8.2'
            typo3-versions: '^13'
          - php-versions: '8.3'
            typo3-versions: '^12'
          - php-versions: '8.3'
            typo3-versions: '^13'
          - php-versions: '8.4'
            typo3-versions: '^12'
          - php-versions: '8.4'
            typo3-versions: '^13'
          - php-versions: '8.5'
            typo3-versions: '^13'
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Setup PHP version
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring
      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: Install composer dependencies
        run: |
          composer require typo3/cms-core=${{ matrix.typo3-versions }} --no-progress --prefer-dist --optimize-autoloader
      - name: Run PHP linter
        run: |
          PHP_VERSION=$(php -r "echo PHP_VERSION_ID;")
          if [[ $PHP_VERSION -ge 80200 ]]; then
            find . -type f -name '*.php' ! -path "./.Build/*" -print0 | xargs -0 -n1 -P4 php -l -n | (! grep -v "No syntax errors detected" )
          else
            find . -type f -name '*.php' ! -path "./.Build/*" ! -path './*/V14/*' -print0 | xargs -0 -n1 -P4 php -l -n | (! grep -v "No syntax errors detected" )
          fi
      - name: Run unit tests
        run: |
          .Build/bin/phpunit -c Tests/phpunit.xml.dist
  code-quality:
    name: Code Quality
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Setup PHP version
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: mbstring
      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: Install composer dependencies
        run: |
          composer --version
          composer update --no-progress --prefer-dist --optimize-autoloader
      - name: Verify PSR-4 namespace correctness
        run: |
          composer dumpautoload --optimize --strict-psr
